body {
    background-color: #0e293b;
    font-family: sans-serif;
}
.ques-container {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    border-radius: 5px;
    padding: 1px;
  }
.quesgrid{
    border: 1px solid rgba(218, 207, 207, 0.8);
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
.ans-container {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    border-radius: 5px;
    padding: 1px;
  }
.ansgrid{
    border: 1px solid rgba(218, 207, 207, 0.8);
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
.action{
    color: #14BDAC;
    display: flex;
    margin-top: 150px;
    font-size: 30px;
    justify-content: space-around;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }